.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #38B48C;
  /* background-image: linear-gradient(#38B48C,#258774); */
}

/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.navbar {
  min-height: 60px;
}

.navbar-brand {
  padding: 0 5px;
  /* height: 80px;
  line-height: 80px; */
}

.card-login-utama {
  width: 500px;
  padding: 35px;
  margin: 75px auto;
  border-radius: 20px;
  max-width:100%;
}

.card-login {
  width: 600px;
  padding: 25px;
  margin: 75px auto;
  border-radius: 20px;
  max-width:100%;
}

.card-title {
  font-weight: 700;
  font-size: 30px;    
}

.card-text {
  margin: 20px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.card-body {
  flex: 1 1 auto;
  /* padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); */
  padding: 26px 0;
  color: var(--bs-card-color);
}

.button-main {
  width: 46%;
  margin: 10px 0;
  padding: 10px;
  background: #2D9A7E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  color: white;
  border: none;
  float: left;
}

.button-main:hover {
  background: #fff;
  color: #2D9A7E;
}

.button-secondary:hover {
  background: #2D9A7E;
  color: #fff;
}

.button-secondary {
  width: 46%;
  margin: 10px 0;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #2D9A7E;
  border: none;
  float: right;
}

.back-button {
  padding: 60px 100px;
  color: white;
  font-weight: 500;

}

.form-signin {
  padding: 10px;
  color: #A8A8A8;
  font-weight: 400;
  font-size: 16px;  
}

.button-signin {
  background-color: #FBC02D;
  border-radius: 5px;
  padding: 9px;
  width: 100%;
  box-shadow: 0px 7px #DE9E00;
  border: none;
}

.button-signin:hover {
  transition-delay: 150ms;
  transition-property: background-color, border-radius, -webkit-transform, transform;
  transition-timing-function: ease-in-out;
  background-color: #DE9E00 !important;
  border-radius: 5px;
  /* box-shadow: 0px 7px #DE9E00; */
  -webkit-transform: translateY(7px);
	transform: translateY(7px);
}

.social-login {
  width: 60px;
  border-radius: 500px;
  padding: 6px;
  margin: 0 25px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-login:hover {
  width: 60px;
  border-radius: 500px;
  padding: 6px;
  margin: 0 25px;
  background: #FFFFFF;
  box-shadow: none;
}

.row-social {
  margin: 10px;
}

.label {
  font-weight: 600;
}

/* Spacing */

.mt-9 {
  margin-top: 90px !important;
}

/* Media */

@media (max-width: 576px) { 
  .button-main {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: #2D9A7E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    border: none;
    float: left;
  }
  
  .button-secondary {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #2D9A7E;
    border: none;
    float: right;
 }
 .social-login {
  width: 33%;
  border-radius: 500px;
  padding: 6px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .button-main {
    width: 100%;
    margin: 10px 0;
    background: #2D9A7E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    border: none;
    float: left;
  }
  
  .button-secondary {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #2D9A7E;
    border: none;
    float: right;
 }
 
 .social-login {
  width: 60px;
  border-radius: 500px;
  padding: 6px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 }

@media (min-width: 992px) { 
  
 }

@media (min-width: 1200px) { 
  
 }